/** @format */

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}
.containers {
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #f7f8fc;
}
.contentWrap {
   margin-left: 280px;
   padding: 20px;
   overflow: hidden;
   width: 100%;
   @media (max-width: 739px) {
      margin-left: 0;
   }
}
